/docs/software-team @sfu-akcse/software-team
/docs/mechanical-team @sfu-akcse/mechanical-team
/docs/firmware-team @sfu-akcse/firmware-team

docusaurus.config.js @Vincent-Elec @S-ngminL-e @kwanghyukryu @hugokwon5
sidebars.js @Vincent-Elec @S-ngminL-e @kwanghyukryu @hugokwon5

package-lock.json @Vincent-Elec @S-ngminL-e @kwanghyukryu @hugokwon5
package.json @Vincent-Elec @S-ngminL-e @kwanghyukryu @hugokwon5
yarn.lock @Vincent-Elec @S-ngminL-e @kwanghyukryu @hugokwon5

.github @TommyOh0428
